*, *::before, *::after {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  background-color: rgb(255, 250, 245);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
}
nav {
  width: 100vw;
  background-color: rgb(173, 255, 47, 0.95);
  position: fixed;
  top: 0;       /* odległość od górnej krawędzi ekranu */
  left: 0;      /* od lewej krawędzi */
  z-index: 100; /* upewnij się, że jest na wierzchu */
  transform: translateY(-100%);
  transition: opacity 0.7s ease, transform 0.7s ease;
  height: 34.5px;
}
nav > ul {
  all: unset;
  display: flex;
  list-style: none;
  padding: 5px 0;
  gap: 2vw;
  font-size: 20px;
  width: 60vw;
  margin-left: 15%;
  margin-right: auto;
  align-items: center;    
}
nav > ul > li {
/*   border: 1px solid red; */
}
nav > ul > li:hover, 
nav > ul > li:focus {
  color: rgb(46, 46, 46);
}
a,
a:hover,
a:focus,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}
.menu-small {
  all: unset;
  display: none;
  padding: 5px 60px;
  font-size: 20px;
  margin-right: auto;
  align-items: center;    
}
.menu-small-panel {
  display: none;
  background-color: antiquewhite;
}

.visible {
  opacity: 1;
  transform: translateY(0);
/*   pointer-events: auto; */
}

.container-main {
  margin-top: 34px;
  padding-top: 20px;
}
.scroll {
  height: 200vh;
  border: 1px red solid;
}
@media (max-width: 1110px) {
  /* Styl obowiązuje do 600px włącznie */
  nav > ul {
    display: none;
  }
  .menu-small {
    display: flex;
    justify-content: flex-end;
  }
  .menu-small-panel.active {
    display: block;
  }
}
