*, *::before, *::after {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  background-color: rgb(255, 250, 245);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
}
nav {
  width: 100vw;
  background-color: greenyellow;
  position: fixed;
  top: 0;       /* odległość od górnej krawędzi ekranu */
  left: 0;      /* od lewej krawędzi */
  z-index: 100; /* upewnij się, że jest na wierzchu */
  transform: translateY(-100%);
  transition: opacity 0.7s ease, transform 0.7s ease;
  height: 34.5px;
}
nav > ul {
  all: unset;
  display: flex;
  list-style: none;
  padding: 5px 0;
  gap: 2vw;
  font-size: 20px;
  width: 60vw;
  margin-left: 15%;
  margin-right: auto;
  align-items: center;    
}
nav > ul > li {
/*   border: 1px solid red; */
}
nav > ul > li:hover, 
nav > ul > li:focus {
  color: rgb(46, 46, 46);
}
a,
a:hover,
a:focus,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}
/* .deco {
  background-color: rgb(255, 247, 0);
}
.deco2 {
  background-color: aqua;
  transform: translateY(100px);
  transition: opacity 0.7s ease, transform 0.7s ease;
  margin-top: 34.5px;
  width: 60vw;
} */
main {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.7s ease, transform 0.7s ease;
  width: 80vw;
/*   background-color: rgb(255, 0, 183); */
  padding: 1vw;
}
.visible {
  opacity: 1;
  transform: translateY(0);
/*   pointer-events: auto; */
}
.container {
  margin-top: 34.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}




/* .wrapper {
  height: 150vh;
  display: flex;
  justify-content: center;
  padding-top: 40vh;
  overflow: hidden;
/*   background-color: blueviolet; 
}
.tekst {
  font-size: 200px;
  text-transform: uppercase;
  background: url('../img/bck.png') center center fixed;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  z-index: 10;
  overflow: hidden;
  font-weight: 700;
}
.scrollto {
  font-size: 30px;
  text-transform: lowercase;
  font-weight: 200;
} */

@media (max-width: 1109px) {
  /* Styl obowiązuje do 600px włącznie */
  nav {
    width: 100vw;
    background-color: greenyellow;
    position: fixed;
    top: 0;       /* odległość od górnej krawędzi ekranu */
    left: 0;      /* od lewej krawędzi */
    z-index: 100; /* upewnij się, że jest na wierzchu */
    transform: translateY(-100%);
    transition: opacity 0.7s ease, transform 0.7s ease;
    height: 34.5px;
    display: flex;
    justify-content: center; /* wyrównanie w poziomie (X) */
    align-items: center;
  }
  nav > ul {
    all: unset;
    display: flex;
    list-style: none;
    gap: 1vw;
    font-size: 15px;
    width: 95vw;
    margin-left: 0;
    height: 34.5;
    align-items: center;
  }
  main {
    width: 95vw;
  }
}